<!-- <li class="playlist-list-menu">
    <div class="form-group has-feedback" >
      <input title="Search in Spotify" placeholder="Search in Spotify" type="text" class="form-control" />
      <span class="glyphicon glyphicon-search form-control-feedback"></span>
    </div>
</li> -->
<div>
<form class="well-lg row" name="apiForm" novalidate>
  <div class="form-group col-sm-6">
    <input name="query" type="text" id="inputQuery" placeholder="Spotify Search" required class="form-control" ng-model="query" />
  </div>

  <button type="submit" class="btn btn-primary col-sm-2" ng-click="spotifySearch(query)" >
    <span class="glyphicon glyphicon-search"></span> Search
  </button>
</form>

<!-- {{result}} -->
  
</div>
<div class="row results">
  <div class="col-md-3 btn-pointer" ng-repeat="item in results.tracks.items.artists" ng-click="selectResult(result.url)">
    <div class="thumbnail">
      <div class="img-container">
        <img ng-src="{{ result.url }}" />
      </div>
      <div class="caption text-center">
        {{ item.name }}
      </div>
    </div>
  </div>
</div>


<!-- <div class="panel panel-default">
  <div class="panel-body">
    <div class="page-header">
    </div>
  </div>
</div> -->